{{define "title"}}Create new servicio{{end}}
{{define "scripts"}}
<script>
  document.onload(() => {
    document.getElementById("formcreate").addEventListener("submit", function (e) {
      const submitButton = document.getElementById("submit");
      submitButton.disabled = true;
    });
  })
</script>

{{end}}
{{define "body"}}
<div class="md:col-span-1">
  <div class="sticky top-4 bg-gray-50 rounded-lg p-6">
    <form enctype="multipart/form-data" id="formcreate" method="post" class="space-y-4" action="/servicios/create">
      <input class="w-full p-3 rounded-lg border border-gray-300 focus:outline-none focus:border-green-500" id="id"
        type="text" name="ID" hidden value="{{.Servicio.ID}}">
      <input class="w-full p-3 rounded-lg border border-gray-300 focus:outline-none focus:border-green-500" id="nombre"
        type="text" name="Nombre" placeholder="nombre" value="{{.Servicio.Nombre}}" required>
      <input class="w-full p-3 rounded-lg border border-gray-300 focus:outline-none focus:border-green-500"
        id="direccion" type="text" name="Direccion" placeholder="caracteristicas" value="{{.Servicio.Direccion}}" required>
      <input class="w-full p-3 rounded-lg border border-gray-300 focus:outline-none focus:border-green-500" id="numero"
        type="numero" name="Telefono" placeholder="telefono" value="{{.Servicio.Telefono}}" required>
      <input class="w-full p-3 rounded-lg border border-gray-300 focus:outline-none focus:border-green-500" id="Image"
        name="file" placeholder="file" type="file" {{if eq .Servicio.Imagen "" }} required {{end}}>
      <textarea class="w-full p-3 rounded-lg border border-gray-300 focus:outline-none focus:border-green-500"
        id="textarea" placeholder="Descripcion" name="Descripcion">{{.Servicio.Descripcion}}</textarea>
      <select class="w-full p-3 rounded-lg border border-gray-300 focus:outline-none focus:border-green-500"
        id="categoria" name="CategoriaId">
        {{range .Categorias}}
        <option value="{{.ID}}" {{if eq .ID $.Servicio.CategoriaId }} selected {{end}}>{{.Nombre}}</option>
        {{end}}
      </select>

      <button class="bg-green-900 text-white px-6 py-2 rounded-lg hover:bg-green-800 transition-colors" id="submit"
        type="submit">Guardar</button>
    </form>
  </div>
</div>
{{end}}