{{define "title"}}All articles{{end}}
{{define "scripts"}}{{end}}
{{define "body"}}
{{template "categorias-list" .}}
{{if eq (len .Servicios) 0}}
Nothing to see here
{{end}}
{{range .Servicios}}
<div>
    <a href="/servicios/{{.ID}}">{{.Nombre}}</a>
</div>
{{end}}
<p>
  <a href="/servicios/create">Crear nuevo servicio</a>
</p>
{{end}}
